build/
dependencies.lock
.idea/
cmake-build-debug/
sdkconfig.old
sdkconfig
venv/
.DS_Store
hardware/racer/fp-info-cache
hardware/racer/racer-backups
firmware/.cache/clangd/index
firmware/managed_components/espressif__cjson
